
.Titulos{

    color: green;
    font-size: 100px;
}

#Paragrafo_2{

    color: blueviolet;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}